@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");


li em {
  color: rebeccapurple;
}

h1 + p {
  font-size: 200%;
}

a {
  font-weight: bold;
}

a:link {
  color: pink;
}

a:visited {
  color: green;
}

a:hover {
  text-decoration: none;
}