@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.wrapper {
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #222;
}


footer {
	width: 100%;
  height: 120px;
  text-align: center;
  padding: 40px 0;
  background-color: #CCCCCC;
	color: #333333;
}

ul.footer-menu li {
	display: inline;
}
