@charset "UTF-8";

body {
    margin: 5%;
    font-family: Osaka, "ＭＳ Ｐゴシック", sans-serif;
}

h1 {
    color: red;
}

p {
    text-indent: 1em;
}
p.noindent {
    text-indent: 0em;
}
p#footer {
    font-size: small;
}

h3 {
    background-color: aquamarine;
}